/*

.comment-section {
  margin-left: 18px;
  margin-right: 18px;
}

.timestamp {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
}

.comment-section hr {
  margin-right: 18px;
}

.comment-section .input-form input {
  width: 90%;
  border: none;
  outline: none;
  margin-right: 18px;
  font-size: 14px;
  height: 36px; 
}

.comment {
  display: flex;
  justify-content: space-between;
}

.comment span {
  display: block;
}

.btn-delete {
  background-color: transparent;
  border: none;
  outline: 0 !important;
  color: rgba(220, 53, 69, 0.5);
  font-size: 14px;
  font-weight: 300;
  display: block;
}

.btn-delete:hover {
  color: rgba(220, 53, 69,1);
}

@media (max-width: 500px) {
  .comment-section .input-form input {
    width: 80%;
  }

  .comment {
    display: block;
  }
}

*/
